In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_fwf('./wili dataset/x_train.txt', header=None)
X_train = df[[0]]
df = pd.read_fwf('./wili dataset/x_test.txt', header=None)
X_test = df[[0]]

In [3]:
target = pd.read_fwf('./wili dataset/y_train.txt',header = None)
y_train = target[0]
target = pd.read_fwf('./wili dataset/y_test.txt',header = None)
y_test = target[0]

In [4]:
X_train.head()

                                                   0
0  Klement Gottwaldi surnukeha palsameeriti ning ...
1  Sebes, Joseph; Pereira Thomas (1961) (pÃ¥ eng)...
2  à¤­à¤¾à¤°à¤¤à¥€à¤¯ à¤¸à¥�à¤µà¤¾à¤¤à¤¨à¥�à¤¤à¥�...
3  AprÃ¨s lo cort periÃ²de d'establiment a BasilÃ...
4  à¸–à¸™à¸™à¹€à¸ˆà¸£à¸´à¸�à¸�à¸£à¸¸à¸‡ (à¸­à¸±à¸...

In [5]:
X_test.head()

                                                   0
0  Ne l fin de l seclo XIX l Japon era inda Ã§con...
1  Schiedam is gelegen tussen Rotterdam en Vlaard...
2  Ð“IÑƒÑ€ÑƒÑ�Ð°Ð· Ð±Ð°Ñ‚Ð°Ð»ÑŒÐ¾Ð½Ð°Ð», Ð³ÑŒÐ¾Ñ€...
3  à²°à²¾à²œà³�à²¯à²¶à²¾à²¸à³�à²¤à³�à²°à²¦ à²ªà²¿...
4  Halukum adalah kelenjar tiroid nang menonjol d...

In [6]:
y_train[y_train == 'be-tara'] = 'be-tarask'
y_train[y_train == 'roa-tar'] = 'roa-tara'
y_train.head()

0    est
1    swe
2    mai
3    oci
4    tha
Name: 0, dtype: object

In [7]:
labels = pd.read_csv('./wili dataset/labels.csv', delimiter=';')

In [8]:
labels.head()

,Label,English,Wiki Code,ISO 369-3,German,Language family,Writing system,Remarks,Synonyms
0,ace,Achinese,ace,ace,Achinesisch,Austronesian,NaN,NaN,NaN
1,afr,Afrikaans,af,afr,Afrikaans,Indo-European,NaN,NaN,NaN
2,als,Alemannic German,als,gsw,Alemannisch,Indo-European,NaN,(ursprünglich nur Elsässisch),NaN
3,amh,Amharic,am,amh,Amharisch,Afro-Asiatic,NaN,NaN,NaN
4,ang,Old English,ang,ang,Altenglisch,Indo-European,NaN,(ca. 450-1100),Angelsächsisch

### Tokenize the Labels

In [9]:
label2int = {}
counter = 1
for label in labels['Label']:
    if label not in label2int:
        label2int[label] = counter
    counter += 1

### Tokenize the  target variables

In [10]:
y_train_int = []
for label in y_train:
    y_train_int.append(label2int[label])

In [11]:
y_test_int = []
for label in y_test:
    y_test_int.append(label2int[label])

### Data Preprocessing

In [12]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [19]:
vectorizer = TfidfVectorizer(analyzer='char',min_df=0.8,lowercase=True, norm='l2')

In [21]:
vectorizer.fit(X_train[0])

TfidfVectorizer(analyzer='char', binary=False, decode_error='strict',
        dtype=<class 'numpy.int64'>, encoding='utf-8', input='content',
        lowercase=True, max_df=1.0, max_features=None, min_df=0.8,
        ngram_range=(1, 1), norm='l2', preprocessor=None, smooth_idf=True,
        stop_words=None, strip_accents=None, sublinear_tf=False,
        token_pattern='(?u)\\b\\w\\w+\\b', tokenizer=None, use_idf=True,
        vocabulary=None)

In [23]:
X_train2int = vectorizer.transform(X_train[0])

In [32]:
X_train2int

<117500x2 sparse matrix of type '<class 'numpy.float64'>'
	with 221186 stored elements in Compressed Sparse Row format>